  <!-- complete wrapper for logged_times -->
  <div id="logging-form" data-url="<%= challenge_logged_times_path(challenge) %>">
    <!-- wrapper for logging times -->
    <div class="wrapper-logging-times">
      <div class="wrapper-log-hours">
        <div class="add-hours-container">
          <div id="addhours" class="log-button">
            +
          </div>
        </div>
        <div class="hour-container">
          <div class="hour-text">
            <span id="hour">0</span><span class="hour-label">h</span>
          </div>
        </div>
        <div class="remove-hours-container">
          <div id="removehours" class="log-button">
            -
          </div>
        </div>
      </div>
      <div class="seperator">
        :
      </div>
      <div class="wrapper-log-minutes">
        <div class="add-minutes-container">
         <div id="addminutes" class="log-button">
          +
        </div>
      </div>
      <div class="minute-container">
        <div class="minute-text">
          <span id="minute">00</span><span class="minute-label">min</span>
        </div>
      </div>
      <div class="remove-minutes-container">

        <div id="removeminutes" class="log-button">
          -
        </div>
      </div>

    </div> 
  </div>
  <!-- button logging hours -->
  <div class="button-logging-hours-container">    
    <div class="button-logging-hours">
      SAVE
    </div>
  </div>
</div>

