<div id="logging-form" data-url="<%= challenge_logged_times_path(challenge) %>" class="wrap">
  <h1>This week you are battling for <%#= wager_amount / 4 %> worst.
  Log your times now! </h1>
  <div class="button-times" id="addhours">
    <p>
      + 1 HR
    </p
      </div>

  <div class="button-times" id="removehours">
    <p>
      - 1 HR
    </p>
  </div>

  <div class="button-times" id="addminutes">
    <p>+ 10min</p>
  </div>


  <div class="button-times" id="removeminutes">
    <p>- 10min</p>
  </div>


  <div class="calculator" id="calculated">
    <div class="hour">0</div>:<div class="minute">0</div>
  </div>

  <div class="button-logging-hours">
    Submit logged hours
  </div>
</div>
