<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Chicken, <%= @challenge.name_challenger %></h1>
    <p>
      You have been challenged by <%= @creator_first_name %><%= @creator_last_name %> .
    </p>
    <p>
      To login to the site, just follow this link: <%= link_to "see your challenge", root_path %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
