.pages-about {
  background-color: $brand-color;
  padding-top: 100px;
}

.title {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 70px;
  font-height: 50px;
  padding-bottom: 75px;

}

.wrapper-white {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 350px;
}


.about-avatar {
  width: 50%;
  height: 50%;
}


.card__back h2 {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}

.team-page h2 {
  color: white;
  text-align: center;
  font-weight: bold;
}

.team-page  h1 {
  text-align: center;
  padding-bottom: 50px;

}

.about_info {
  h1 {
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }
  p {
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }
}


.card {
  color: white;
  position: relative;
  float: left;
  padding-bottom: 25%;
  width: 100%;
  text-align: center;
  h1 {
    color: white;
  }
  h2 {
    color: black;
    padding-bottom: 30px;
    opacity: 0.8;
  }
  p {
    color: black;
    font-size: 14px;
    opacity: 0.7;
  }
}

.card__front,
.card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 330px;
}

.card__front,
.card__back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.card__front {
  background-color: #ff5078;
  background-size: cover;
}

.card__back {
  background-color: #FFD464;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  h2 {
    padding-top: 100px;
  }
}

.card.effect__hover:hover .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__hover:hover .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

// $brand-color: #FFD464;

// $red: #EC6965;
// $blue: #1653A1;
// $yellow: #FDB631;
// $orange: #E67E22;
// $green: #32B796;
// $black: #333333;
