.dashboards-show {
  background-color: $brand-color;
  padding-top: 100px;
}

.page_title {
  text-align: center;
  color: white;
  font-weight: bold;
  width: 80%;
  background-color: $red;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 20pt;
  border-top-right-radius: 20pt;
}

.user_info {
  display: flex;
  justify-content: space-around;
  border-top-right-radius: 20pt;
  background-color: $red;
  width: 380px;
  margin: 0 auto;
  height: 250px;
  border-top-left-radius: 20pt;
  padding: 25px;
}

.user_photo {
  margin: 20px;
  flex: 0 0 30%;
}

.user_stats {
  margin: 20px;
  flex: 0 0 30%;
}

.user_name {
  font-size: 15pt;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
  color: white;
}

.avatar_border {
  border: 2px solid white;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
}

.challenges_index {
  width: 80%;
  background-color: $red;
  min-height: 100vh;
  padding: 20px 10px 100px 10px;
  margin-left: auto;
  margin-right: auto;
  border-bottom-left-radius: 20pt;
  border-bottom-right-radius: 20pt;
  margin-bottom: 50px;
}

.challenges_amount {
  height: 70px;
  font-size: 23px;
  color: white;
  width: 100px;
  text-align: right;
  padding: 0px;
  margin: 10px auto 0px auto;
}

.index-challenge-card {
  display: flex;
  max-width: 800px;
  height: 175px;
  background-color: $brand-color;
  color: white;
  position: relative;
  padding: 15px 15px 15px 30px;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.challenge-specs {
  position: absolute;
  bottom: 10px;
  left: 30px;
}

.status {
  position: absolute;
  right: 20px;
  top: 20px;
}

.dashboard_icon {
  width: 50px;
  float: left;
}

.status .fa {
  color: $blue;
  opacity: 0.6;
  &:hover {
    text-decoration: none;
    opacity: 1;
    transition: opacity 200ms ease;
  }
}

.status a:hover {
  text-decoration: none;
}

.activity_name {
  font-size: 30pt;
  margin-left: 20px;
}

.challenge_date {
  margin-left: 20px;
}