.dashboards-show {
  background-color: $brand-color;
  padding-top: 100px;
  padding-bottom: 100px;
  padding: 100px 20px;
}

.page_title {
  text-align: center;
  color: white;
  font-weight: 700;
  width: 80%;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.user_info {
  color: #333333;
  background-color: white;
  width: 200px;
  margin-left:10px;
  border-radius: 10pt;
  box-shadow: 3px 3px 3px rgba(2, 2, 2, 0.3);
  position: fixed;
  z-index: 888;
  margin-top: 0px;
  right:10px;
}

.user_photo {
  width: 150px;
  margin: 0px auto;
}

.avatar_dashboard {
  border: 8px solid white;
}

.user_stats {
  margin: 20px;
}

.user_name {
  margin: 0px auto 0px auto;
  font-size: 15pt;
  font-weight: 400;
  text-align: center;
}

.avatar_border {
  border: 2px solid white;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
}

.challenges_index {
  background-color: $red;
  min-height: 100vh;
  padding: 20px 10px 100px 10px;
  margin-left: auto;
  margin-right: auto;
  border-bottom-left-radius: 20pt;
  border-bottom-right-radius: 20pt;
  margin-bottom: 50px;
}

.challenges_amount {
  i {
    width: 60px;   
  }
  min-height: 40px;
  padding-top: 10px;
  border-bottom: 1px dotted #333333;
}

.index-challenge-card {
  display: flex;
  max-width: 800px;
  height: 175px;
  background-color: white;
  color: #333333;
  position: relative;
  padding: 15px 15px 15px 30px;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 2px rgba(2, 2, 2, 0.2);
}

.challenge-specs {
  position: absolute;
  bottom: 10px;
  left: 30px;
}

.status {
  position: absolute;
  right: 20px;
  top: 20px;
}

.dashboard_icon {
  width: 50px;
  float: left;
}

.status .fa {
  color: $blue;
  opacity: 0.6;
  &:hover {
    text-decoration: none;
    opacity: 1;
    transition: opacity 200ms ease;
  }
}

.status a:hover {
  text-decoration: none;
}

.activity_name {
  font-size: 20pt;
  font-weight: 700;
  margin-left: 20px;
}

.challenge_date {
  margin-left: 20px;
}