.challenges-edit {
  background-color: $brand-color;
  color: white;
  padding-top: 100px;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
}

.challenges-update {
  background-color: $brand-color;
  color: white;
  padding-top: 100px;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
}

.edit_challenge {
  p {
    font-weight: bold;
    text-align: left;
  }
  h1 {
    text-align: center;
    margin-bottom: 50px;
  }
}

.edit_container .border {
  border-bottom: 1px dotted white;
  margin-bottom: 15px;
}

.datetimepicker {
  color: $red;
}

.submit_edit_form {
  border: none;
  margin-top: 20px;
  background-color: white;
  border-radius: 5px;
  color: $brand-color;
  padding: 18px 15px;
  transform: scale(1);
  &:hover {
    transform: scale(1.2);
    transition: transform 200ms ease;
  }
  &:active {
    text-decoration: none;
  }
}
