.button-times { 
  color: white;
  height: 100px;
  width: 300px;
  background: #EC6965;
  border-radius: 10px;
  p {
    height:100%;
    width:100%;
  }
}

.button-logging-hours {
  color: white;
  height: 100px;
  width: 300px;
  background: #EC6965;
  border-radius: 10px;
}

.add_time {
  background-color: $yellow;
  min-height: 100%;
  padding: 50px;
  h1 {
    color: white;
    text-align: center;
  }
}