.button-times { 
  display: block;
  color: white;
  height: 100px;
  width: 300px;
  background: #EC6965;
  border: 2px solid rgba(33, 68, 72, 0.59);
}

.button-logging-hours {
  display: block;
  color: white;
  height: 100px;
  width: 300px;
  background: #EC6965;
  border: 2px solid rgba(33, 68, 72, 0.59);
}