.challenges-show {
  background-color: white;
}

.challenge_status h1 {
  color: $black;
  font-weight: bold;
  text-align: center;
}

.avatarbox {
  display: flex;
  justify-content: space-around;
  height: 150px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.avatarbox-score {
  display: flex;
  justify-content: center;

}

.avatar_shadow {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12);
}

.avatarbox .creator {
  position: absolute;
  z-index: 999;
  top: 0px;
  left: 70px;
}

.avatarbox .challenger {
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 70px;
}

.box-item {
  flex: 0 0 150px;
}

.playerbox {
  display: flex;
  justify-content: center;
}

.player-item {
  font-size: 20pt;
  color: #575656;
  flex: 0 0 45px;
  text-align: center;
  margin: 13px 10px;
}

.grey {
  color: #999595;
  font-weight: lighter;
}

.wagers {
  font-size: 30pt;
  display: flex;
  justify-content: space-between;
}

.wager {
  width: 20px;
  position: relative;
  text-align: center;
}

.filler {
  flex: 1;
}

.creator {
  flex: 0 0 130px;
  color: $red;
}

.challenger {
  flex: 0 0 130px;
  color: $blue;
}

.euro {
  font-size: 20pt;
  color: #515151;
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 10px;
}

.creatorwagerbar {
  float: left;
  display: inline;
  height: 20px;
  background-color: $red;
}

.challengerwagerbar {
  float: right;
  display: inline;
  height: 20px;
  background-color: $blue;
}

.score {
  background-color: $brand-color;
  padding-top: 20px;
  padding-bottom: 60px;
}

.score h2 {
  color: white;
  font-weight: normal;
  text-align: center;
}

.alloted {
  font-size: 20pt;
  text-align: center;
  color: white;
  margin: auto 30px;
  padding-top: 8px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, .4);
}

.allotment {
  padding-bottom: 100px;
}

.add_score {
  background-color: #333333;
  font-size: 30pt;
  color: white;
  text-align: center;
  font-weight: bold;
}

.week{
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
  color: #ACACAC;
  letter-spacing: 1px;
}

.challenge-avatar {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-size: cover !important;
  background-position: center center !important;
}

.logging-times-avatar {
  font-size: 14px;
  color: white;
  margin: 0 auto;
}

.hour-log-label,
.minute-log-label {
  color: rgba(255, 255, 255, 0.8);
  font-size: 10px;
  display: inline-block;
  vertical-align: top;
}

.cover_pending {
  height: 100vh;
  width: 100vw;
  background: image-url("banner.png") no-repeat center center fixed; 
  background-size: cover;
}