
<div class="wrapper-yellow">
  <div class="title">
    <h1> Chicken Challenge</h1>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="card">
        <div class="about-avatar">
          <%= image_tag "female.png", class: "about-avatar" %>
        </div>
        <h2>#1 </h2>
        <p>Challenge a friend</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="card">
        <h2>#2 </h2>
        <p>Place a bet</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="card">
      <%= image_tag "Time-48.png" %>
        <h2>#3 </h2>
        <p>Log activity</p>
      </div>
    </div>
  </div>
</div>


<!-- Team members -->

<div class="wrapper-white">
  <div class="team-page">
   <h1>The Team</h1>
   <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="card effect__hover">
        <div class="card__front" style="background-image: url('http://lewagon.github.io/amsterdam/images/batches/batch-20/michele.jpg')">
        </div>
        <div class="card__back">
          <h2>Michele</h2>
          <h2>Go hiking</h2>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="card effect__hover">
        <div class="card__front" style="background-image: url('http://lewagon.github.io/amsterdam/images/batches/batch-20/lars.jpg')">
        </div>
        <div class="card__back">
          <h2>Lars</h2>
          <h2>Read Shakespeare</h2>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="card effect__hover">
        <div class="card__front" style="background-image: url('http://lewagon.github.io/amsterdam/images/batches/batch-20/lena.jpg')">
        </div>
        <div class="card__back">
          <h2>Lena</h2>
          <h2>Go huulahooping</h2>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
