
<div class="wrapper-yellow">
  <div class="title">
    <h1> Chicken Challenge</h1>
    <p>Take the challenge, don't chicken out</p>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="card">
        <h2>#1 </h2>
        <h1>Challenge a friend</h1>
        <p>Choose an activity you want to do more often and find a friend to join you. </p>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="card">
        <h2>#2 </h2>
        <h1>Place a bet</h1>
        <p>You and your friend start the challenge with the same amount. When the challenge is over you split the money.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="card">
        <h2>#3 </h2>
        <h1>Log activity</h1>
        <p>Easily log all your activities. The more you log the bigger your profile picture will grow. Each week Chicken calculates the difference between you and your opponent. </p>
        <h1>
      </div>
    </div>
  </div>
</div>




<!-- Team members -->

<div class="wrapper-white">
  <div class="team-page">
   <h1>The Team</h1>
   <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="card effect__hover">
        <div class="card__front" style="background-image: url('http://lewagon.github.io/amsterdam/images/batches/batch-20/michele.jpg')">
        </div>
        <div class="card__back">
          <h2>Michele</h2>
          <h3>Go hiking</h3>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="card effect__hover">
        <div class="card__front" style="background-image: url('http://lewagon.github.io/amsterdam/images/batches/batch-20/lars.jpg')">
        </div>
        <div class="card__back">
          <h2>Lars</h2>
          <h3>Read Shakespeare</h3>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="card effect__hover">
        <div class="card__front" style="background-image: url('http://lewagon.github.io/amsterdam/images/batches/batch-20/lena.jpg')">
        </div>
        <div class="card__back">
          <h2>Lena</h2>
          <h3>Go huulahooping</h3>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
