
<div class="wrap_white">

  <h1> WE LIKE TO CHALLENGE YOU</h1>
</div>

<!-- Team members -->

<!-- Michele -->
<div class="col-xs-4 col-sm-3 cl-md-2">
  <div class="flipping-card-front">
    <img class="img-responsive" src="http://lewagon.github.io/amsterdam/images/batches/batch-20/michele.jpg">
  </div>
  <div class="flipping-card-back">
    <h2>Go hiking</h2>
  </div>
</div>
<!-- End Michele -->

<!-- Lars -->
<div class="col-xs-4 col-sm-3 cl-md-2">
  <div class="flipping-card-front">
    <img class="img-responsive" src="http://lewagon.github.io/amsterdam/images/batches/batch-20/lars.jpg">
  </div>
  <div class="flipping-card-back">
    <h2>Read Shakespeare</h2>
  </div>
</div>
<!-- End Lars -->

<!-- Lena -->
<div class="col-xs-4 col-sm-3 cl-md-2">
  <div class="flipping-card-front">
    <img class="img-responsive" src=http://lewagon.github.io/amsterdam/images/batches/batch-20/lena.jpg>
  </div>
  <div class="flipping-card-back">
  <h2>Go huulahooping</h2>
  </div>
</div>
<!-- End Lena -->


<div class="cl-md-4 cl-md-4 cl-md-4">
<div class="mission">
  <h2>Our mission </h2>
  <p> to help you and your friends become active </p>
</div>


<h2>How does the app work </h2>
<p>You and a friend place a bet on Each week you log the times you </p>

<div class="about_info">
  <div class="container">
    <p> With Chicken you can challenge a friend to pursue an activity for 4 weeks </p>
    <p> Chicken is a web application developed by Lars, Michele and Lena. </p>
  </div>
</div>
