
<div class="wrap_white">
  <div class="title">
    <h1> WE LIKE TO CHALLENGE YOU</h1>
  </div>
</div>

<!-- Team members -->

<div class="wrapper-about">
  <div class="container picturebox">
    <div class="row">
      <div class="col-md-4">
        <div class="card effect__hover">
          <div class="card__front">
            <img class="img-responsive" src="http://lewagon.github.io/amsterdam/images/batches/batch-20/michele.jpg">
          </div>
          <div class="card__back">
            <h2>Go hiking</h2>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card effect__hover">
          <div class="card__front">
            <img class="img-responsive" src="http://lewagon.github.io/amsterdam/images/batches/batch-20/lars.jpg">
          </div>
          <div class="card__back">
            <h2>Read Shakespeare</h2>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card effect__hover">
          <div class="card__front">
            <img class="img-responsive" src=http://lewagon.github.io/amsterdam/images/batches/batch-20/lena.jpg>
          </div>
          <div class="card__back">
            <h2>Go huulahooping</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>


<div class="wrapper-about">
  <div class="about_info">
    <h2>How does the app work </h2>
    <p> 1. You challenge a friend to do an activity you both like and place a bet. </p>

    <p> 2. For 4 weeks you try to meet the goal and log every time you take action.</p>

    <p> 3. The less you log, the more you have to pay. </p>
  </div>
</div>
