  <div class="new_challenge">
    <div id="q1" class="question col-xs-12 col-sm-offset-4 col-sm-4 col-lg-offset-4 col-lg-4">
      <p>What do you want to do more often?</p>
    </div>
    <div id="q2" class="question col-xs-12 col-sm-offset-4 col-sm-4 col-lg-offset-4 col-lg-4">
      <p>Who do you want to do it with?</p>
    </div>
    <div id="q3" class="question col-xs-12 col-sm-offset-4 col-sm-4 col-lg-offset-4 col-lg-4">
      <p>How confident are you?</p>
    </div>
    <div id="su" class="summary col-xs-12 col-sm-offset-4 col-sm-4 col-lg-offset-4 col-lg-4"> 
      <p>summary</p>
    </div>
  </div>

