<div class="wrap_white">
  <%= render "challenge", challenge: @challenge, challenge_decorator: @challenge_decorator %>
</div>
<div class="whoop-container">
  <div class="add_score"><span>+</span></div>
  <%= render "logged_times/form", challenge: @challenge %>
</div>

