<div class="wrap_white">
  <div class="challenge_status col-xs-offset-4 col-xs-4 col-sm-offset-4 col-sm-4 col-lg-offset-4 col-lg-4">
    <div class="avatarbox">
      <%= image_tag "http://placehold.it/150x150", class: "avatar box-item creator" %>
      <%= image_tag "http://placehold.it/150x150", class: "avatar box-item challenger" %>
    </div>
    <h1>BOWLING</h1>
    <div class="playerbox">
      <p class="player-item">Lars</p><p class="player-item grey">vs</p><p class="player-item">Lena</p>
    </div>
  </div>
  <div class="wagers col-xs-12">
    <div class="wager creator"><p class="euro">&#8364; 50</p></div>
    <div class="wager challenger"><p class="euro">&#8364; 50</p></div>
  </div>
</div>