<% if @challenge.status == "pending" %>
  <div class="cover_pending"></div>
<% else %>
  <div class="challenge-container"><%# PLEASE DO NOT REMOVE ME: js purpose %>
    <%= render "challenge", challenge: @challenge, challenge_decorator: @challenge_decorator %>
  </div>

  <% if @challenge_decorator.ongoing? %>
    <div class="whoop-container">
      <div class="add_score"><span>+</span></div>
      <%= render "logged_times/form", challenge: @challenge %>
    </div>
  <% end %>
<% end %>
