/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  text-align: center;
  color: white;
  border-radius: 3pt;
  position: absolute;
  top: 10px;
  left: 0px;
  right: 0px;
  z-index: 999999;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
